<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journaler</title>
  </head>
  <body>
    <a href="{{ url_for('index') }}">Back to All</a>
    <h2>{{ entry.id }}</h2>
    <form method="post" action="{{ url_for('api_edit_entry') }}">
      <input type="hidden" value="{{ entry.id }}" name="entry-id-to-edit" />
      <textarea
        name="edit-entry-content"
        id="edit-entry-content"
        rows="4"
        cols="50"
      >
{{ entry.content}}</textarea
      >
      <br />
      <button type="submit">Save changes</button>
    </form>
    <br />
    <br />
    <form method="post" action="{{ url_for('api_delete_entry') }}">
      <input type="hidden" value="{{ entry.id }}" name="entry-id-to-delete" />
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
